<!DOCTYPE html>
<html>
    <head>
        <title>Dino CRUD 🦖💩</title>
    </head>

    <body>
        <nav>
            <ul>
                <li>
                    <a href="/dinosaurs">all dinos</a>      
                </li>
                <li>
                    <a href="/dinosaurs/new">nwe dino form</a>
                </li>
                <li>
                    <a href="/prehistoric">all pre-historic creatures</a>
                </li>
                <li>
                    <a href="/prehistoric/new">new pre-historic form</a>
                </li>
            </ul>
        </nav>


        <h1>LOVE THEM DINOS 🦕 🖤</h1>

        <%- body %>
    </body>
</html>